/* Config settings for bTB-Forestry pipeline */

manifest {
	author = "Richard Ellis"
	homePage = "https://github.com/APHA-CSU/btb-forestry"
    description = "Nextflow pipeline for analysing phylogenies and snp-matrices for bovine TB, on a clade-by-clade basis"
    mainScript = "main.nf"
}

// remove work directory pipeline completes sucessfully 
// cleanup = true

/* enable conda
conda {
    conda.enabled = true
}
*/
// docker configuration
docker { 
    enabled = true
    fixOwnership = true
    runOptions = '--user "$(id -u):$(id -g)"'
    runOptions = '-v $HOME/.aws:/aws -e AWS_SHARED_CREDENTIALS_FILE=/aws/credentials'
}