/* Config settings for bTB-Forestry pipeline */

manifest {
	author = "Richard Ellis"
	homePage = "https://github.com/APHA-CSU/btb-forestry"
    description = "Nextflow pipeline for analysing phylogenies and snp-matrices for bovine TB, on a clade-by-clade basis"
    mainScript = "main.nf"
}

// remove work directory pipeline completes sucessfully 
// cleanup = true

// enable conda
conda.enabled = true

/* docker configuration (when required)
docker { 
    enabled = true
    fixOwnership = true
    runOptions = '-v ~:/home' }
*/
// Default values for required parameters
params.pathTocsv = "$PWD/**/*FinalOut*.csv"
params.metadata = "$PWD/movement.csv"
params.loctions = "$PWD/locations.csv"
params.outliers = "$baseDir/accessory/outliers.txt"
params.cladeinfo = "$baseDir/accessory/CladeInfo.csv"
params.today = new Date().format('ddMMMYY')
params.outdir = "$PWD"
params.homedir = "$HOME"

// Location of megacc analysis options (.mao) files 
params.maxP200x = "$baseDir/accessory/infer_MP_nucleotide_200x.mao"
params.userMP = "$baseDir/accessory/analyze_user_tree_MP__nucleotide.mao"
