/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

profiles {
    docker {
        process.container = 'aphacsubot/btb-forestry'
        docker.enabled = true
    }
}

params.today = new Date().format('ddMMMYY')
params.outdir = "$PWD"
publishDir = "$params.outdir/btb-forest_${params.today}/"

/* do not use default file clean up when testing */
cleanup = false
