/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

profiles {
    docker {
        process.container = "${secrets.ECR_ACCOUNT}.dkr.ecr.eu-west-1.amazonaws.com/btb-forestry:${secrets.BRANCH}"
        docker.enabled = true
    }
}

process {
    cpus = 2
}

params.today = new Date().format('ddMMMYY')
params.outdir = "${env('PWD')}"
params.publishDir = "$params.outdir/btb-forest_${params.today}/"
params.commitId = "dummyc0mmit"

/* do not use default file clean up when testing */
cleanup = false