/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

profiles {
    docker {
        process.container = 'aphacsubot/btb-forestry'
        docker.enabled = true
    }
}

/* do not use default file clean up when testing */
cleanup = false
